PolicyTracker.Lib/Web References/CLBEmailService/Lookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://longbeach.gov/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://longbeach.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://longbeach.gov/">
      <s:element name="LookupAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shortname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LookupAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LookupAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LookupAddressSoapIn">
    <wsdl:part name="parameters" element="tns:LookupAddress" />
  </wsdl:message>
  <wsdl:message name="LookupAddressSoapOut">
    <wsdl:part name="parameters" element="tns:LookupAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="CLBEmailSoap">
    <wsdl:operation name="LookupAddress">
      <wsdl:input message="tns:LookupAddressSoapIn" />
      <wsdl:output message="tns:LookupAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CLBEmailSoap" type="tns:CLBEmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LookupAddress">
      <soap:operation soapAction="http://longbeach.gov/LookupAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CLBEmailSoap12" type="tns:CLBEmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LookupAddress">
      <soap12:operation soapAction="http://longbeach.gov/LookupAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CLBEmail">
    <wsdl:port name="CLBEmailSoap" binding="tns:CLBEmailSoap">
      <soap:address location="https://clbmgrweb3.ci.long-beach.ca.us/SearchCLBEMail/Lookup.asmx" />
    </wsdl:port>
    <wsdl:port name="CLBEmailSoap12" binding="tns:CLBEmailSoap12">
      <soap12:address location="https://clbmgrweb3.ci.long-beach.ca.us/SearchCLBEMail/Lookup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>