PolicyTracker.Lib/Web References/HRWebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ci.long-beach.ca.us/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ci.long-beach.ca.us/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ci.long-beach.ca.us/">
      <s:element name="GetHREmpByEmpId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHREmpByEmpIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHREmpByEmpIdResult" type="tns:HREmp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HREmp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cls" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHREmpByDLNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dlNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHREmpByDLNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHREmpByDLNoResult" type="tns:HREmp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHREmpsActive">
        <s:complexType />
      </s:element>
      <s:element name="GetHREmpsActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHREmpsActiveResult" type="tns:ArrayOfHREmp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHREmp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HREmp" nillable="true" type="tns:HREmp" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHRDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetHRDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHRDepartmentsResult" type="tns:ArrayOfHRDept" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHRDept">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HRDept" nillable="true" type="tns:HRDept" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HRDept">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeptCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamisOrg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHRBureaus">
        <s:complexType />
      </s:element>
      <s:element name="GetHRBureausResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHRBureausResult" type="tns:ArrayOfHRBur" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHRBur">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HRBur" nillable="true" type="tns:HRBur" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HRBur">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BurCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BurName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHRDivisions">
        <s:complexType />
      </s:element>
      <s:element name="GetHRDivisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHRDivisionsResult" type="tns:ArrayOfHRDiv" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHRDiv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HRDiv" nillable="true" type="tns:HRDiv" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HRDiv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DivCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DivName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CityMgrDept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersUnitCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamisOrg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamisIndex" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHRClassifications">
        <s:complexType />
      </s:element>
      <s:element name="GetHRClassificationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHRClassificationsResult" type="tns:ArrayOfHRClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHRClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HRClass" nillable="true" type="tns:HRClass" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HRClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cls" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHREmpByEmpIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetHREmpByEmpId" />
  </wsdl:message>
  <wsdl:message name="GetHREmpByEmpIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetHREmpByEmpIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetHREmpByDLNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetHREmpByDLNo" />
  </wsdl:message>
  <wsdl:message name="GetHREmpByDLNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetHREmpByDLNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetHREmpsActiveSoapIn">
    <wsdl:part name="parameters" element="tns:GetHREmpsActive" />
  </wsdl:message>
  <wsdl:message name="GetHREmpsActiveSoapOut">
    <wsdl:part name="parameters" element="tns:GetHREmpsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetHRDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHRDepartments" />
  </wsdl:message>
  <wsdl:message name="GetHRDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHRDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHRBureausSoapIn">
    <wsdl:part name="parameters" element="tns:GetHRBureaus" />
  </wsdl:message>
  <wsdl:message name="GetHRBureausSoapOut">
    <wsdl:part name="parameters" element="tns:GetHRBureausResponse" />
  </wsdl:message>
  <wsdl:message name="GetHRDivisionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHRDivisions" />
  </wsdl:message>
  <wsdl:message name="GetHRDivisionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHRDivisionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHRClassificationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHRClassifications" />
  </wsdl:message>
  <wsdl:message name="GetHRClassificationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHRClassificationsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetHREmpByEmpId">
      <wsdl:input message="tns:GetHREmpByEmpIdSoapIn" />
      <wsdl:output message="tns:GetHREmpByEmpIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHREmpByDLNo">
      <wsdl:input message="tns:GetHREmpByDLNoSoapIn" />
      <wsdl:output message="tns:GetHREmpByDLNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHREmpsActive">
      <wsdl:input message="tns:GetHREmpsActiveSoapIn" />
      <wsdl:output message="tns:GetHREmpsActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHRDepartments">
      <wsdl:input message="tns:GetHRDepartmentsSoapIn" />
      <wsdl:output message="tns:GetHRDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHRBureaus">
      <wsdl:input message="tns:GetHRBureausSoapIn" />
      <wsdl:output message="tns:GetHRBureausSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHRDivisions">
      <wsdl:input message="tns:GetHRDivisionsSoapIn" />
      <wsdl:output message="tns:GetHRDivisionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHRClassifications">
      <wsdl:input message="tns:GetHRClassificationsSoapIn" />
      <wsdl:output message="tns:GetHRClassificationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHREmpByEmpId">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHREmpByEmpId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHREmpByDLNo">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHREmpByDLNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHREmpsActive">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHREmpsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRDepartments">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHRDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRBureaus">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHRBureaus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRDivisions">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHRDivisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRClassifications">
      <soap:operation soapAction="http://ci.long-beach.ca.us/GetHRClassifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHREmpByEmpId">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHREmpByEmpId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHREmpByDLNo">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHREmpByDLNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHREmpsActive">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHREmpsActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRDepartments">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHRDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRBureaus">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHRBureaus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRDivisions">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHRDivisions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRClassifications">
      <soap12:operation soapAction="http://ci.long-beach.ca.us/GetHRClassifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://clbtsappdbd/HRWebService4/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://clbtsappdbd/HRWebService4/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>